@import "tailwindcss";

.datetime-dark {
  background-color: #020617;    
  color: #e5e7eb;                 
  border: 1px solid #1e293b;   
  color-scheme: light;
}
.datetime-dark::-webkit-calendar-picker-indicator {
  filter: invert(1);          
  opacity: 0.85;
  cursor: pointer;
}
/* Disable text selection */
* {
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;         /* Standard */
}
/* Disable touch callout (iOS long press) */
* {
  -webkit-touch-callout: none;
}
/* Disable image dragging */
img {
  -webkit-user-drag: none;
  user-drag: none;
}
/* Prevent highlighting on double click */
::selection {
  background: transparent;
}




